[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

.idea/
.vscode/

*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
project.lock.json
project.fragment.lock.json
artifacts/
.nuget/

*.resx.user
*.csproj.user

publish/
*.publishsettings
publishprofiles/
*.pubxml
*.pubxml.user

*.binlog
*.tlog

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.dotsettings.user

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml

*.dmp
*.mdmp
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

*.mdb
*.ldb
*.sqlite
*.log